{% extends "base.html" %} {% block title %}Login{% endblock %} 
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Signed out succesfully!!</h4>
            <p> Hope you enjoyed our services!</p>
            <hr>
            <p class="mb-0">Analyze your way back into fitness soon!
            
            </p>
          </div>
        {% endfor %}
    {% endif %} 
{% endwith %}  
{% endblock %} 

