<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>The Fit Fact</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<!-- ***** Main Banner Area End ***** -->

<body style="background: #000;">
 <div class="login">
	<h1>Fitness Check!</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('auth.predict')}}"method="post">
    	
        <input type="text" name="Step Count" placeholder="Step Count" required="required" />
		    <input type="text" name="Mood" placeholder="Mood" required="required" />
        <input type="text" name="Calories Burned" placeholder="Calories Burned" required="required" />
        <input type="text" name="Hours of Sleep" placeholder="Hours of Sleep" required="required" />
        <input type="text" name="Weight in kg" placeholder="Weight in kg" required="required" />
        <input type="text" name="Average Heart Rate" placeholder="Average Heart Rate" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Stress Level</button>

    </form>

   <br>
   <br>
   
   {{ prediction_text }}
   <br>
   <a href="{{url_for('auth.exposition')}}" class="btn btn-primary btn-block btn-large">Get full report</a>


 </div>
</body>
</html>